<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>

    <File name="SearchFile" fileName="logs/search.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <Filters>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
        </Filters>
    </File>

      <File name="InputErrors" fileName="logs/input_errors.log">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
          <Filters>
              <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
          </Filters>
      </File>

      <File name="Exceptions" fileName="logs/exceptions.log">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
          <Filters>
              <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
          </Filters>
      </File>

  </appenders>

  <loggers>
    <root level="debug">
      <appender-ref ref="SearchFile" level="INFO"/>
        <appender-ref ref="InputErrors" level="WARN"/>
        <appender-ref ref="Exceptions" level="ERROR"/>
    </root>
  </loggers>
</configuration>
